* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 10%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffe;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title {
  text-align: center;
}

.container {
  width: 60%;
  margin: 10% auto;
  cursor: context-menu;
}

.list {
  background-color: #ffe;
  color: rgb(9, 9, 121);
}

.list p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.list span {
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  border: 0.3px solid #ccc;
}

.list span.title {
  background-color: rgba(0, 212, 255, 1);
  color: #ffe;
  font-weight: bold;
}

.list span.id {
  width: 5%;
}

.list span.task {
  width: 73%;
}
.list span.time,
form input[type='time'] {
  width: 15%;
}
.list span.action,
form input[type='submit'] {
  width: 7%;
}

form input[type='text'] {
  width: 78%;
  height: 42px;
}
form input[type='time'] {
  cursor: pointer;
}

.list span.icon {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

form input {
  padding: 10px;
  background-color: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}

form input[type='submit'] {
  background-color: rgba(0, 212, 255, 1);
  border: 0.3px solid rgba(0, 212, 255, 1);
  color: #ffe;
  font-weight: bold;
  cursor: pointer;
  height: 42px;
}
